@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --green: #00ff41;
    --orange: #ff6b00;
    --pink: #ff006e;
    --dark: #0a0a0f;
    --dark2: #111118;
    --dark3: #3e3e4d;
    --text: #e8e8f0;
    --text-dim: #888899;
    --reserved: #ff6a007a;
    --paid: #08912ab2;
    --free: #00ff4070;
    --timer: #ff6b00;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    background: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #00ff402c;
}

header>h1 {
    color: white;
    font-size: 1.7em;
    letter-spacing: 3px;
    padding: 20px;
}

header>a {
    font-size: 1.4em;
}

.btn {
    border-radius: 5px;
    border: 1px solid var(--orange);
    color: var(--orange);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    background: transparent;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1em;
}

.popup {
    display: none; /* começa escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6); /* fundo escuro */
    
    justify-content: center;
    align-items: center;

    z-index: 999; /* fica por cima de tudo */
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--dark3);

    position: relative;
}


/* inputs */
.popup-content input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* botão entrar */
#btnEntrar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--green);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#fecharAdm {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    border: 1px solid var(--orange);
    color: var(--orange);
    cursor: pointer;
    transition: 0.5s;
}

#btnEntrar:hover {
    background-color: var(--free);
}

#fecharAdm:hover {
    background-color: var(--reserved);
}

button:hover {
    background-color: var(--reserved);
}

.green {
    color: var(--green);
}

.orange {
    color: var(--orange);
}

main>h1 {
    text-align: center;
    font-size: 2.5em;
    padding-top: 15px;
    letter-spacing: 3px;
}

main>p {
    text-align: center;
    font-size: 0.8em;
    padding: 6px 0px 15px 0px;
    letter-spacing: 3px;
    color: var(--text-dim);
    font-family: 'Barlow Condensed', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 10px;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 5px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.botoes>a {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn_externa {
    border: 1px solid var(--free);
}

.btn_interna {
    border: 1px solid var(--reserved);
}

.btn_externa:hover {
    background-color: #00ff405d;
}

.btn_interna:hover {
    background-color: #ff6a0056;
}

footer {
    font-size: 1em;
    padding: 15px;
    text-align: center;
    color: var(--text-dim);
}

footer>a {
    font-size: 1em;
    text-decoration: none;
    color: #a5a5af;
    transition: 0.5s;
}

footer>a:hover {
    color: white;
}
